#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
	padding-top:50px;
	padding-bottom:50px;
	background:#0a1033;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
	#assurance{
		background:$gris;
		p{
			color:$noir;
			display:inline;
			text-align:left;
		}
		img{
		}
		.assurance-1{
			background:$blanc;
			padding-top:20px;
			padding-bottom:20px;


		}

	}
	#foot{
		h6{
			font-family:$open;
			font-weight:700;
			letter-spacing:3px;
			text-transform:uppercase;
			color:white;
		}
		p{
			color:white;
			transition: all .2s ease-in-out;
			&:hover{
				margin-left:10px;
			}
		}

		.newsletter{
			position:relative;
			border:none;
			.email{
				height:35px;
				background:white;
			}
			.envois{
				position:absolute;
				background:$noir;
				color:$blanc;
				width:39px;
				height:39px;
				border:none;
				margin:0 auto;
				top:0px;
				right:0px;

			}
		}

	}
}
